body{
    background-color:rgba(160, 150, 150, 0.781) ;
    margin: 0px;
    padding: 0px;
}

#wrapper{
    margin: 20px auto ;
    padding: 0px;
    width: 960px;
    overflow: hidden;

}

#header{
    margin: 0px 0px 10px;
    padding: 10px;
    background-color: rgba(93, 136, 93, 0.486);

}
#header h1{
    text-align: center;
    color: white;
}

#nav{
    width: 260px;
    margin: 0px 0px 10px;
    float: left;
    background-color: rgba(68, 68, 70, 0.411);
    height: auto;
    position: relative;
   
}
#nav ul{
    list-style: none;
    position: relative;
    right: 30px;
    
}
#nav ul li{
    width: 230px;
}
#nav ul li a{
    display: block;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: rgba(224, 26, 26, 0.507);
    width: 200px;
    color: white;
    text-decoration: none;
}
#nav ul li a:hover{
    background-color: rgb(148, 37, 17);
}

#main{
    width: 690px;
    margin: 0px 0px 10px 10px;
    float: right;
    background-color: rgba(218, 130, 15, 0.459);
    
}
#main h2,h3{
   text-align: center;
   color: white;
}
#main img{
    padding: 10px 10px 10px;
    vertical-align: bottom;
}
#main p{
    padding: 0 10px 0;
    color: white;
}
#main ul{
    padding: 10px;
}
#main ul li{
    list-style: none;
    color: white;
}

#footer{
    margin: 10 px 0 0;
    padding: 10px;
    clear: both;
    background-color: rgba(102, 99, 99, 0.521);
}
#footer p{
    text-align: center;
    color: white;
}